<!-- Create channel modal -->
<app-channel-modal (modalChannelEmit)="createChannel($event)"></app-channel-modal>

<div class="hozSplit">
    <!-- Channel sidebar navigation -->
    <div class="leftSplit">        
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white vh-100">
            <span class="fs-4">{{groupInfo.name}}</span>
            
            <hr>
            <!-- Channel list -->
            <div class="scroll mb-auto">
                <ul class="nav nav-pills flex-column">
                    <!-- Loops through all channels -->
                    @for(channel of groupInfo.channels; track channel){
                        <li class="channelPill">
                            <a role="button" (click)="openChannel(channel)" class="nav-link text-white">
                                {{channel.name}}
                            </a>
                        </li>
                    }@empty{
                        <li class="nav-link text-white">No Channels</li>
                    }
                </ul>
            </div>
            <hr>
            <!-- Group management options -->
            <div class="d-flex flex-column">
                <!-- Prevents super admins from leaving a group -->
                @if(!userInfo.roles.includes('superAdmin')){
                    <button (click)="leaveGroup()" type="button" class="groupOptionButton btn btn-primary">
                        Leave Group
                    </button>
                }
                <!-- Options only visible to admins of the group -->
                @if(userAdmin){
                    <button type="button" class="groupOptionButton btn btn-primary" data-bs-toggle="modal" data-bs-target="#channelModal">
                        Create Channel
                    </button>
                    <button (click)="userManagment()" type="button" class="groupOptionButton btn btn-primary">
                        Manage Users
                    </button>
                    <button (click)="deleteGroup()" type="button" class="groupOptionButton warning btn btn-primary">
                        Delete Group
                    </button>
                }
            </div>
        </div>
    </div>

    <!-- Chat section -->
    <div class="rightSplit">
        <!-- Changes content between chat and user manager screen -->
        @if(viewingChat){
        @if(channel){
            <div class="p-3 text-white d-flex flex-column vh-100">
                <!-- Heading -->
                <div style="display: flex; justify-content: space-between;">
                    <span class="fs-4">{{channel.name}}</span>
                    @if(userAdmin){
                        <!-- Delete Channel button -->
                        <button (click)="deleteChannel()" class="warning btn btn-primary">Delete Channel</button>
                    }
                </div>
                <hr>
                <!-- Chat message area -->
                <div class="scroll mb-auto">
                    <ul class="nav nav-pills flex-column">

                    </ul>
                </div>

                <!-- Message input form -->
                <form >
                    <div class="input-group">
                        <div class="form-group col-md-11">
                            <input [(ngModel)]="chatMessage" type="text" name="chatMessage" id="chatMessage" class="form-control"/>
                        </div>
                        <div class="messageSend input-group-btn">
                            <button (click)="submit()" type="submit" class="btn"><i class="bi bi-send"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        }
        }@else{
            <app-user-manager [groupID]="groupInfo.id" [username]="userInfo.username"></app-user-manager>
            <!-- <app-user-manager [username]="userInfo.username"></app-user-manager> -->
        }
    </div>
</div>
