<!-- Create channel modal -->
<app-channel-modal (modalChannelEmit)="createChannel($event)"></app-channel-modal>

<div class="hozSplit">
    <!-- Channel sidebar navigation -->
    <div class="leftSplit">        
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white vh-100">
            <span class="fs-4">{{groupInfo.name}}</span>
            
            <hr>
            <!-- Channel list -->
            <div class="scroll mb-auto">
                <ul class="nav nav-pills flex-column">
                    <!-- Loops through all channels -->
                    @for(channel of groupInfo.channels; track channel._id){
                        <li class="channelPill">
                            <a role="button" (click)="openChannel(channel._id)" class="nav-link text-white">
                                {{channel.name}}
                            </a>
                        </li>
                    }@empty{
                        <li class="nav-link text-white">No Channels</li>
                    }
                </ul>
            </div>
            <hr>
            <!-- Group management options -->
            <div class="d-flex flex-column">
                <!-- Prevents super admins from leaving a group -->
                @if(!userInfo.roles.includes('superAdmin')){
                    <button (click)="leaveGroup()" type="button" class="groupOptionButton btn btn-primary">
                        Leave Group
                    </button>
                }
                <!-- Options only visible to admins of the group -->
                @if(userAdmin){
                    <button type="button" class="groupOptionButton btn btn-primary" data-bs-toggle="modal" data-bs-target="#channelModal">
                        Create Channel
                    </button>
                    <button (click)="userManagment()" type="button" class="groupOptionButton btn btn-primary">
                        Manage Users
                    </button>
                    <button (click)="deleteGroup()" type="button" class="groupOptionButton warning btn btn-primary">
                        Delete Group
                    </button>
                }
            </div>
        </div>
    </div>

    <!-- Chat section -->
    <div class="rightSplit">
        <!-- Changes content between chat and user manager screen -->
        @if(viewingChat){
            @if(channel){
                <div class="p-3 text-white d-flex flex-column vh-100">
                    <!-- Heading -->
                    <div style="display: flex; justify-content: space-between;">
                        <span class="fs-4">{{channel.name}}</span>
                        @if(userAdmin){
                            <!-- Delete Channel button -->
                            <button (click)="deleteChannel()" class="warning btn btn-primary">Delete Channel</button>
                        }
                    </div>
                    <hr>
                    <!-- Chat message area -->
                    <div class="scroll mb-auto">
                        <ul class="nav nav-pills flex-column">
                            @for(message of messages; track message){
                            <div class="messRow">
                                <div>
                                    <!-- Checks if message is from server, if not, displays profile picture -->
                                    @if(message.user.username != "Server"){
                                        @if(message.user.pfpImage){
                                            <img src={{message.user.pfpImage}} alt="" width="40" height="40" class="rounded-circle me-2"> 
                                        }@else{
                                            <img src="./assets/images/UniLogo.png" alt="" width="40" height="40" class="rounded-circle me-2"> 
                                        }
                                    }
                                </div>
                                <!-- Username and message section -->
                                <div>
                                    <div style="font-weight: bold;">
                                        {{message.user.username}}:
                                    </div>
                                    <div>
                                        {{message.message}}
                                    </div>
                                </div>
                            </div>
                            <!-- Displays image if included in message -->
                            @if(message.image){
                                <img src={{message.image}} alt="" class="messImage"> 
                            }
                            <hr>
                            }
                        </ul>
                    </div>

                    <!-- Message input form -->
                    <div style="background-color: rgba(45,48,52,255); padding: 5px; border-radius: 5px;">
                        <!-- Image input button -->
                        <input type="file" (change)="onFileSelected($event)" />
                        <br>
                        <!-- Displays image upon selection -->
                        <div *ngIf="chatImage">
                            <img [src]="chatImage" width="200" height="200" class="messImage"/>
                        </div>
                        <!-- If an image is selected, display remove image button -->
                        @if(chatImage){
                            <button (click)="removeImage()" class="btn"><i class="btn btn-warning">Remove Image</i></button>
                        }
                        <!-- Message input form -->
                        <form>
                            <div class="input-group">
                                <!-- Message input -->
                                <div class="form-group col-md-11">
                                    <input [(ngModel)]="chatMessage" type="text" name="chatMessage" id="chatMessage" class="form-control"/>
                                </div>
                                <!-- Send message -->
                                <div class="messageSend input-group-btn">
                                    <button (click)="submit()" type="submit" class="btn"><i class="bi bi-send"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }@else{
            <app-user-manager [groupID]="groupInfo.id" [username]="userInfo.username"></app-user-manager>
        }
    </div>
</div>
