<div class="hozSplit">
    <!-- Sidebar Navigation -->
    <div class="leftSplit">        
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100">
            <!-- Header -->
            <span class="fs-4">Chat App</span>
            <hr>

            <!-- Group Search -->
            <div class="nav flex-column">
                <a href="/main/groupBrowser" class="nav-link text-white">
                    <i class="bi bi-search"></i>
                    Groups
                </a>
            </div>
            <hr>

            <!-- Group list -->
            <div class="scroll mb-auto">
                <ul class="nav nav-pills flex-column">
                    <!-- Loops through groups in userInfo groups array -->
                    @for(group of userInfo.groups; track group.id){
                        <li class="groupPill">
                            <a role="button" (click)="openGroup(group.id)" class="nav-link text-white">
                                {{group.name}}
                            </a>
                        </li>
                    }@empty{
                        <li class="nav-link text-white">No Groups</li>
                    }
                </ul>
            </div>
            <hr>

            <!-- User Section -->
            <!-- Profile button options (Utilises bootstrap dropdown in bootstrap js) -->
            <div class="dropdown"> 
                <!-- Always active > user profile picture and name -->
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <!-- Profile picture placeholder -->
                    <img src="./assets/images/UniLogo.png" alt="" width="32" height="32" class="rounded-circle me-2"> 
                    <strong>{{userInfo.username}}</strong>
                </a>
                <!-- Togglable dropdown menu-->
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style=""> 
                    <li>
                        <a class="dropdown-item" href="/main/createUser">New User</a>
                    </li>
                    <!-- Only displays if user has groupAdmin role -->
                    <li *ngIf="userInfo.roles.includes('groupAdmin')">
                        <a class="dropdown-item" href="/main/createGroup">New Group</a>
                    </li> 
                    <li>
                        <a *ngIf="userInfo.roles.includes('superAdmin')" role="button" (click)="toggleUserManager()" class="dropdown-item">User Manager</a>
                    </li>
                    <li>
                        <a role="button" (click)="deleteSelf()" class="dropdown-item">Delete Account</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <!-- Signout option -->
                    <li>
                        <a class="dropdown-item" role="button" (click)="logout()">Sign out</a>
                    </li> 
                </ul>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="rightSplit">
        @if(userManager){
            <app-user-manager [username]="userInfo.username"></app-user-manager>
        }@else{
            <!-- Displays the child route for main screen -->
            <router-outlet></router-outlet>
        }
    </div>        
</div>