.hozSplit {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.pane {
    flex: 1;
    overflow: auto;
}

.leftSplit {
    width: 12%;
}

.rightSplit {
    background-color: rgba(33, 37, 41, 0.95);
    /* rgba(33,37,41,255) */
    width: 88%;
}


/* Group items in list */
.groupPill{
    width: 100%;
    margin-top: 5px; 
    border-radius: 15px;
    background-color: rgba(44,48,52,255); 
    overflow-wrap: break-word;
}


/* All below handles the scroll bar for when group list exceeds given space */

/* Hides excess groups, enables scrolling */
.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}