.hozSplit {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.pane {
    flex: 1;
    overflow: auto;
}

.leftSplit {
    width: 12%;
}

.rightSplit {
    /* background-color: #212529;  */
    background-color: rgba(33, 37, 41, 0.95);
    /* rgba(33,37,41,255) */
    width: 88%;
}
