<div class="p-3 text-white d-flex flex-column vh-100">
    <span class="fs-4">Profile</span>
    <hr>
    <div class="d-flex flex-column mb-auto p-3 bg-dark">
        <!-- User Info -->
        <div>
            <div>
                <span class="fs-5">Username:</span>
                <br>
                {{userInfo.username}}
                <br>
                <br>
                <span class="fs-5">Email:</span>
                <br>
                {{userInfo.email}}
                <br>
                <br>
                <span class="fs-5">Roles:</span>
                <br>
                @for(role of userInfo.roles; track role){
                    <div class="tableText">
                        - {{role}}
                    </div>
                }
            </div>
        </div>
        <br>
        <!-- Profile picture selection -->
        <div>
            <span class="fs-5">Profile Picture:</span>
            <br>
            <input type="file" (change)="onFileSelected($event)" />
            <br>
            <div *ngIf="profileImage">
                <!-- <img [src]="profileImage" style="max-width: 500px; max-height: 500px;"/> -->
                <img [src]="profileImage" width="200" height="200" class="rounded-circle me-2"/>
            </div>
            <br>
        </div>
    </div>
    <!-- Delete account button -->
    <div>
        <button role="button" (click)="deleteSelf()" class="btn btn-danger">Delete Account</button>
    </div>

</div>